* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: serif;
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: block;
}

.header-logo-img {
  width: 100px;
  height: 100%;
}
.nav {
  display: flex;
}
.nav-item {
  
}
.nav-link {
  padding: 10px;
  color: #222222;
}

.nav-link:hover {
  background: #3bb8c9;
}